* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

#body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
    padding-top: 60px;
}
#outlet{
    margin-top: 60px;
}

#header {
    width: 100%;
    height: 150px;
    padding-left: 5%;
    padding-right: 5%;
    position: sticky;
    top: -65px;
    background-color: white;
    z-index: 1000;
}

#header_top {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(21, 221, 21);
    border-radius: 40px 15px 40px 15px;
}

#header_top_left {
    margin-left: 10px;
    color: rgb(251, 24, 24);
}

.address {
    margin-left: 3px;
    margin-right: 10px;
    color: white;
    text-decoration: none;
}

.email {
    margin-left: 3px;
    color: white;
    text-decoration: none;
}

#header_top_right {
    margin-right: 10px;
    color: white;
}

.privacy {
    margin-right: 10px;
    color: white;
    text-decoration: none;
}

.terms {
    margin-left: 10px;
    margin-right: 10px;
    color: white;
    text-decoration: none;
}

.refund {
    margin-left: 10px;
    color: white;
    text-decoration: none;
}

/* ============ Header Bottom part ======== */
#header_Bottom {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

#header_Bottom_left {
    font-size: 30px;
    font-weight: bold;
    color: rgb(61, 253, 8);

}

#header_Bottom_center {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header_Bottom_center li {
    margin-left: 30px;
}

.homebtn,
.aboutbtn,
.productbtn,
.shopbtn,
.contactbtn {
    text-decoration: none;
}

.homebtn:hover,
.aboutbtn:hover,
.productbtn:hover,
.shopbtn:hover,
.contactbtn:hover {
    color: rgb(11, 248, 11);
}

#product_dropdown {
    cursor: pointer;
    position: relative;
}
#downarrow{
    cursor: pointer;
}

#prodropmanu {
    display: none;
    list-style: none;
    position: absolute;
    top: 110px;
    right: 43%;
    border: 1px solid rgb(205, 191, 191);
    padding: 10px;
    background-color: rgb(241, 237, 237);
    border-radius: 10px;
}
#prodropmanu li{
    margin-bottom: 13px;
}
#prodropmanu li .btn1{
    text-decoration: none;
    letter-spacing: 2px;

}

#product_dropdown:hover~#prodropmanu {
    display: inline-block;
}

/* #header_Bottom_center li */
#header_Bottom_right {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header_Bottom_right li {
    margin-left: 25px;
}

#search-circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid orange;
    box-shadow: 2px 0px 10px green;
    display: flex;
    justify-content: center;
    align-items: center;
}

#search-circle:hover {
    background-color: rgba(243, 160, 8, 0.7);
    transition: 1s;
}

#search-circle::before {
    content: "";
}

.headsearchicon {
    font-size: 22px;
}

#headshopbag {
    position: relative;
}

#headnotify {
    width: 20px;
    height: 20px;
    border: 1px solid rgb(235, 154, 103);
    background-color: orange;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 18px;
    top: -5px;

}

.headshopbagicon {
    font-size: 40px;
    color: rgb(60, 176, 60);
}

.headusericon {
    font-size: 35px;
    color: rgb(60, 176, 60);
}

/* ============================ Footer section ========================== */
#footbody {
    background-color: rgb(71, 69, 69);
    padding-left: 5%;
    padding-right: 5%;
}

#foottop {
    box-sizing: border-box;
    list-style: none;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid orange;
    margin-bottom: 20px;
}

#foottopleft {
    width: 15%;
    color: rgb(246, 182, 63);
}

#foottopleft div {
    font-size: 40px;
    color: rgb(13, 242, 13);
}




/* ================ #foottopmid ============= */

#foottopmid {
    width: 50%;
    height: 55px;
    display: flex;
    align-items: center;
    border-radius: 40px;
    border: 1px solid rgb(254, 253, 253);
    background-color: white;
}

#foottopmid input {
    width: 70%;
    height: 55px;
    border: none;
    outline: none;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    padding-left: 15px;
}

#foottopmid button {
    width: 30%;
    height: 55px;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    background-color: rgb(55, 237, 55);
}

/* =================== #foottopright =====================*/

#foottopright {
    width: 18%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#foottopsocial {
    list-style: none;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#foottopsocial li {
    width: 50px;
    height: 50px;
    border: 1px solid rgba(247, 168, 22, 0.901);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(247, 168, 22, 0.901);
}

/* ================== footmiddle ========== */
#footmiddle {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#footmiddleone {
    width: 300px;
    height: auto;
    text-align: start;
}

.footmiddleone {
    color: rgb(186, 182, 182);
    line-height: 1.6rem;
    margin-bottom: 15px;

}

#footreadmorebtn {
    width: 150px;
    height: 50px;
    border: 2px solid rgb(233, 184, 93);
    border-radius: 30px;
    color: rgb(62, 118, 62);
    font-size: 18px;
    font-weight: bold;
}

#footmiddletwo {
    width: 250px;
    height: auto;
    list-style: none;
}

#footmiddletwo li {
    margin-bottom: 10px;
}

.footmiddletwoinfo {
    color: rgb(186, 182, 182);
    text-decoration: none;
}

#footmiddlethree {
    width: 250px;
    height: auto;
    list-style: none;
}

#footmiddlethree li {
    margin-bottom: 10px;
}

#footmiddlethree .account {
    color: rgb(186, 182, 182);
    text-decoration: none;
}

#footmiddlefour {
    width: 300px;
    height: auto;
}

#footcontect {
    color: rgb(186, 182, 182);
    line-height: 2rem;
    margin-bottom: 15px;
}

#footbottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
    margin-top: 30px;
}

#footbottom div {
    color: white;
}

/* ======================== Home page ============================= */
#Homehero {
    width: 100%;
    height: 80vh;
    background-image: url("https://themewagon.github.io/fruitables/img/hero-img.jpg");
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#homehero_left {
    width: 600px;
    height: 300px;
    /* border: 1px solid black; */
}

#homehero_left #one {
    font-size: 30px;
    color: orange;
    margin-bottom: 20px;
}

#homehero_left #two {
    font-size: 60px;
    color: rgb(164, 196, 49);
    font-weight: bolder;
    margin-bottom: 30px;
}

#homehero_left #homesearch {
    width: 502px;
    height: 54px;
    border: 2px solid orange;
    border-radius: 30px;
    background-color: white;
}

#homehero_left #homesearch input {
    width: 350px;
    /* height: 50px; */
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    font-size: 25px;
    padding-left: 15px;
    border: none;
    outline: none;
}

#homehero_left #homesearch button {
    width: 148px;
    height: 50px;
    border-radius: 30px;
    border: none;
    outline: none;
    cursor: pointer;
    border-left: 3px solid orange;

    background-color: rgb(211, 242, 34);
}

#homewrapper {
    width: 450px;
    height: 300px;
    border: 1px solid rgb(130, 123, 123);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}

#homewrapper #leftsift {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 2px solid rgb(250, 250, 250);
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: absolute;
    margin-right: 350px;
    background-color: rgb(154, 235, 127);
}

#homewrapper #rightsift {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 2px solid rgb(248, 248, 248);
    font-size: 25px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-left: 350px;
    background-color: rgb(154, 235, 127);
}

#homewrapper #homeslider {
    width: 1000px;
    height: 300px;
}



#homesection-2 {
    width: 100%;
    height: 600px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#homesection-2 #one,
#homesection-2 #two,
#homesection-2 #three,
#homesection-2 #four {
    width: 300px;
    height: 300px;
    /* border: 1px solid black; */
    /* display: flex; */
    /* justify-content: center; */
    text-align: center;
    border-radius: 10px;
    background-color: whitesmoke;
    box-shadow: 3px 3px 20px rgb(235, 224, 224);
}

#homesection-2 #one:hover,
#homesection-2 #two:hover,
#homesection-2 #three:hover,
#homesection-2 #four:hover {
    scale: 1.02;
}

#iconcircle {
    width: 150px;
    height: 150px;
    /* border: 1px solid black; */
    margin-top: 20px;
    border-radius: 50%;
    margin-left: 70px;
    position: relative;
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    color: white;
    margin-bottom: 40px;
}

#iconcircle::after {
    width: 50px;
    height: 50px;
    content: "";
    transform: rotate(45deg);
    display: block;
    /* border: 1px solid orange; */
    background-color: antiquewhite;
    position: absolute;
    top: 108px;
    left: 45px;
    background-color: orange;

}

#homesection-3 #title {
    font-size: 40px;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 40px;
}

/* =========== homesection-3_product ========================== */

#homesection-3_product{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
#product_wrapper {
    width: 356px;
    height: auto;
    text-align: center;
    border: 3px solid rgb(212, 216, 211);
    margin-bottom: 30px;
    padding-bottom: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 8px rgb(205, 202, 202);
}
#product_wrapper:hover{
    scale:1.01;
    box-shadow: 6px 6px 20px rgb(205, 202, 202);

}

#product_wrapper #image {
    width: 350px;
    height: 200px;
    margin-bottom: 10px;
    overflow: hidden;
    background-color: rgb(156, 250, 73);
    /* border-radius: 10px; */

}

#product_wrapper #image img {
    width: 350px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 200px;
}

#product_wrapper #image img:hover {
    scale: 1.2;
    transition: 2s;
}

#product_wrapper #pdetails {
    padding-left: 8px;
    padding-right: 8px;
    margin-bottom: 20px;
    margin-top: 15px;
}

#product_wrapper #price {
    font-size: 25px;
    margin-bottom: 20px;
}

#product_wrapper #cardbtn {
    width: 150px;
    height: 45px;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 500;
    border: 2px solid orange;
    box-shadow: 2px 2px 8px rgb(153, 145, 145);
    background-color: rgb(242, 237, 237);
}
#product_wrapper #cardbtn:hover{
    scale:1.05;
    background-color: rgb(249, 170, 23);
}

/* ============================== Cartbag page ================================== */
#cardbagtable{
    width: 100%;
    border: 1px solid rgb(40, 38, 38);
}
#cardbagtable tr td{
    border-bottom: 1px solid rgb(230, 227, 227);
    text-align: center;
}
#cardbagtable tr th{
    border-bottom: 1px solid rgb(208, 145, 145);
    /* border: 1px solid rgb(96, 83, 83); */
    height: 50px;
    text-align: center;
}
#tdimage{
    width: 250px;
    height: 200px;
    border: 3px solid rgb(40, 38, 38);
    overflow: hidden;
}
#tdimage img{
    width:250px;
    height: 195px;
}
#tdimage img:hover{
    scale: 1.06;
    transition: 1s;
}
#tddetails{
    width: 300px;
    height: auto;
    padding: 5px;
    text-align: center;
}
#tddelete{
    cursor: pointer;
    font-size: 40px;
}
#tdQuantity {
    width:130px;
    height: 30px;
    text-align: center;
}
#tdQuantity button{
    width:25px;
    height: 25px;
    font-size: 18px;
    font-weight: bolder;
    border: none;
    color: rgb(247, 247, 247);
    border-radius: 15px;
    background-color: rgb(93, 169, 83);
    display: inline-block;
    justify-content: center;
    align-items:center ;
    cursor: pointer;
}
#tdQuantity span{
    /* width:30px; */
    /* height: 30px; */
    border: 1px solid lightblue;
    padding: 3px;

}
#tdtotalprice{
    width: 150px;
}

#tdnetamount{
    border: 1px solid green;
    height: 30px;
    background-color: aqua;
    /* text-align: left; */
}
#tdorderbtn{
    height: 100px;
    background-color: rgb(232, 190, 190);
}
#tdorderbtn #button{
    width: 250px;
    height: 40px;
    border: 2px solid green;
    border-radius: 30px;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    color: rgb(227, 64, 64);
    background-color: rgb(192, 196, 220);
    cursor: pointer;
    padding: 8px 20px;
    text-decoration: none;
    box-shadow: 3px 3px 10px rgb(244, 31, 31);
}

/* ================= Ordered form component ==================== */
#form{
    width: 550px;
    height: auto;
    margin-top: 15px;
    background-color: rgb(242, 228, 209);
    /* padding-left: 60px; */
    padding-top: 20px;
    text-align: center;
}

#form h1{
 font-size: 20px;
 letter-spacing: 1px;
 margin-bottom: 5px;
 font-weight: 600;
}
#form h3{
    font-size: 16px;
    letter-spacing: 1px;
    margin-bottom: 10px;
   }
#form form{
    margin-left:100px ;
    text-align: justify;
   }
#form form input{
    width:350px;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 15px;
    border-radius: 10px;
}
#form form #state{
    width: 150px;
}
#form form #pincode{
    width: 150px;
    margin-left: 40px;
}
#form form label{
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1.2px;
    color: rgb(78, 78, 127);
    text-align: justify;
}
#form form #pin{
    margin-left: 150px;
}

#form form #submitbtn{
    width: 120px;
    height: 30px;
    text-align: center;
    border-radius: 15px;
    font-size: 16px;
    cursor: pointer;
    padding-left: 2px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 100px;
    background-color: rgb(233, 198, 198);
}

/* ========================= Payment Page ========================= */

#Payment_maindiv{
    width:100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 40px;
}

#paymentopt1{
    width: 580px;
    height:630px;
    /* border: 1px solid rgb(44, 42, 40); */
    background-color: rgb(242, 228, 209);
    margin-top: 20px;
    text-align: center;
}
#paymentopt1 h1{
    text-align: center;
    letter-spacing: 2px;
    margin-bottom: 22px;
    margin-top: 20px;
    font-size: 28px;
    color: rgb(79, 150, 79);
}
#paymentopt1 input{
    cursor: pointer;
    margin: auto;
}
/* ================= Payment_card page =============== */

#cardpaymeth{
    margin-bottom: 30px;
}

#cardpaymeth img{
  width:150px;
}
#phonepebtn img{
    width: 450px;
    height: 200px;
}
#cardno{
    padding-left: 15px;
    width: 150px;
    height: 30px;
    border-radius: 10px;
}
#card_cvv{
    width: 60px;
    border-radius: 8px;
    height: 30px;
    padding-left: 15px;

}
#card_hold_name{
    width: 200px;
    height: 30px;
    border-radius: 10px;
    padding-left: 15px;
}
#ex_month{
    width: 45px;
    height: 30px;
    border-radius: 8px;
    padding-left:7px;
    font-weight: 400;
}
#ex_year{
    width: 60px;
    height: 30px;
    padding-left:10px;
    border-radius: 8px;
}
#payment_form{
    text-align: left;
    padding-left: 100px;
}
#payment_form label{
    font-size: 18px;
}
#button_design{
    width:121px;
    height: 36px;
    border-radius: 15px;
    border: 4px solid rgb(60, 64, 58);
    background-color: rgb(241, 202, 168);
    cursor: pointer;
    position: relative;
}
#button_design::after{
    content: "";
    width:125px;
    height: 40px;
    border-radius: 17px;
    border: 2px solid rgb(67, 247, 6);
    position: absolute;
    box-sizing:border-box;
    top:-5px;
    left: -5px;
}
/* =========================== Payment done component ============================== */
#payment_procesing{
    width:100%;
    height:60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#payment_procesing span{
    font-size: 25px;
}
#paymentdone_bill{
    width:90%;
    height: auto;
    margin: auto;
    background-color: rgb(252, 250, 246);
    padding: 25px;
}
#paymentdone_bill h1, #paymentdone_bill h2{
    text-align: center;
    margin-bottom: 20px;
}
#Amount_orderno{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 12%;
    padding-left: 2%;

}
#orderno,#paidamount{
    margin-top: 10px;
}
#orderno h4, #paidamount h4{
    margin-top: 5px;
    font-size: 22px;
}
#orderaddress{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}


#customer{
    width: 550px;
    height: auto;
    padding: 20px;
    /* border: 1px solid wheat; */
}
#delivery_by{
    width: 470px;
    height: auto;
    padding: 20px;
    /* border: 1px solid wheat; */
}
/* ==================== Orderedby component ========================= */
#order_by{
text-align: left;
}
#order_by h4{
    margin-top: 8px; 
}



















